.terraform/
terraform.tfstate*
terraform.tfstate.backup

*.tfvars
*.tfvars.json
!example_vars.tfvars
!terraform.tfvars.example

*.pem
*.key
*.crt
*.p12
.env
.secrets

.vscode/
.idea/
.DS_Store
node_modules/
*.log